<ion-tabs>
  <ion-tab-bar slot="top" color="light">
    <ion-tab-button tab="swap">
      <ion-icon name="swap-horizontal"></ion-icon>
      <ion-label>Swap</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<ion-toolbar *ngIf="!isCorrectNetwork" color="danger" class="centered-text text-middle">
  <ion-text class="text-middle white-text">
    <ion-icon name="warning"></ion-icon>
    Please switch to the Optimistic Kovan
  </ion-text>
  <ion-button *ngIf="account" size="small" color="warning" class="switch-button" (click)="switchNetwork()">Switch Network</ion-button>
  <ion-button *ngIf="!account" size="small" color="warning" class="switch-button" (click)="connect()">Connect</ion-button>
</ion-toolbar>

