<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-card>
            <ion-card-title>
              <ion-row class="title-row">
                <ion-col>
                <ion-text>
                  XD Token Stats
                </ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
            <ion-card-content class="stats">
              <ion-row>
                <ion-col>Total Supply</ion-col>
                <ion-col>{{totalSupply | number:'1.2-4'}} XDT</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Position Value</ion-col>
                <ion-col>{{positionValue | number:'1.2-4'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Open Notional</ion-col>
                <ion-col> {{openNotional | number:'1.2-4'}} </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Account Value </ion-col>
                <ion-col> {{accountValue | number:'1.2-4'}} </ion-col>
              </ion-row>
              <ion-item-divider class="light-background"></ion-item-divider>
              <ion-row>
                <ion-col size="4"></ion-col>
                <ion-col size="4">Minted</ion-col>
                <ion-col size="4">Redeemable</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">USDC</ion-col>
                <ion-col size="4">{{mintedPerUsdc | number:'1.4'}}</ion-col>
                <ion-col size="4">{{redeemableUsdc | number:'1.4'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">WETH</ion-col>
                <ion-col size="4">{{mintedPerWeth | number:'1.4'}}</ion-col>
                <ion-col size="4">{{redeemableWeth | number:'1.4'}}</ion-col>
              </ion-row>


              <ion-row *ngFor="let info of collateralInfo">
                <ion-col>{{ info.symbol }} Redeemable</ion-col>
                <ion-col>{{ info.minted | formatBN:'18' }}</ion-col>
                <ion-col>{{ info.redeemable | formatBN:'6' }}</ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
