<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-card>
            <ion-card-title>
              <ion-row class="title-row">
                <ion-col>
                <ion-text>
                  XD Token Stats
                </ion-text>
                </ion-col>
              </ion-row>
            </ion-card-title>
            <ion-divider></ion-divider>
            <ion-card-content>
              <ion-row>
                <ion-col>Total Supply</ion-col>
                <ion-col>{{totalSupply | number:'1.2-4'}} XDT</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Position Value</ion-col>
                <ion-col>{{positionValue | number:'1.2-4'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Open Notional</ion-col>
                <ion-col> {{openNotional | number:'1.2-4'}} </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
