.button-row {
    margin-top: 20px;
}

.add-btn {
    margin: 6px 0 0 5px;
    color: var(--ion-color-light-contrast);
    font-weight: 700;
    cursor: pointer;
}

.get-link {
    font-size: 0.8em;
}

.card {
    font-size: 1.02em;
}