<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="4">
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-segment value="mint" (ionChange)="onSegmentChanged($event)">
                  <ion-segment-button value="mint">MINT</ion-segment-button>
                  <ion-segment-button value="redeem">REDEEM</ion-segment-button>
                </ion-segment>
              </ion-row>
              <div *ngIf="currentSegment ==='mint'">
                <ion-row>
                  <ion-col>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="">
                    <ion-text>FROM USDC</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #depositInput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="align-items-center">
                    <ion-text>TO XDT</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #depositInput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button *ngIf="isApproved" color="primary" expand="block" (click)="connect()">Mint XDT</ion-button>
                    <ion-button *ngIf="!isApproved" color="primary" fill="solid" expand="block" (click)="approve()">Approve USDC</ion-button>
                  </ion-col>
                </ion-row>
              </div>

              <div *ngIf="currentSegment ==='redeem'">
                <ion-row>
                  <ion-col>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="">
                    <ion-text>FROM XDT</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #depositInput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="align-items-center">
                    <ion-text>TO USDC</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #depositInput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button *ngIf="isApproved" color="primary" expand="block" (click)="connect()">Deposit</ion-button>
                    <ion-button *ngIf="!isApproved" color="primary" fill="solid" expand="block" (click)="approve()">Approve</ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
