<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="4">
          <ion-card class="card">
            <ion-card-content>
              <ion-row>
                <ion-segment color="danger" value="mint" (ionChange)="onSegmentChanged($event)">
                  <ion-segment-button value="mint">MINT</ion-segment-button>
                  <ion-segment-button value="redeem">REDEEM</ion-segment-button>
                </ion-segment>
              </ion-row>
              <div *ngIf="currentSegment ==='mint'">
                <ion-row>
                  <ion-col>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="">
                    <ion-text>FROM USDC</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #usdcInput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="align-items-center">
                    <ion-text>TO XDT</ion-text>
                    <ion-icon class="add-btn" name="add" (click)="addXDT()"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #xdtOutput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row class="button-row">
                  <ion-col>
                    <ion-button *ngIf="!account" color="success" expand="block" fill="outline" (click)="connect()">Connect</ion-button>
                    <ion-button *ngIf="account && !isUsdcApproved" color="success" fill="outline" expand="block" (click)="approveUsdc()">Approve USDC</ion-button>
                    <ion-button *ngIf="account && isUsdcApproved" color="success" fill="solid" expand="block" (click)="mint()">Mint</ion-button>
                  </ion-col>
                </ion-row>
              </div>

              <div *ngIf="currentSegment ==='redeem'">
                <ion-row>
                  <ion-col>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="">
                    <ion-text>FROM XDT</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #xdtInput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="align-items-center">
                    <ion-text>TO USDC</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" #usdcOutput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row class="button-row">
                  <ion-col>
                    <ion-button *ngIf="!account" color="success" expand="block" fill="outline" (click)="connect()">Connect</ion-button>
                    <ion-button *ngIf="account && !isXdtApproved" color="success" fill="outline" expand="block" (click)="approveXdt()">Approve XDT</ion-button>
                    <ion-button *ngIf="account && isXdtApproved" color="success" fill="solid" expand="block" (click)="redeem()">Redeem</ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" offset="4" class="centered-text">
          <ion-text class="centered-text">
            <a href="https://kovan.optifaucet.com/" target="_blank" color="light" class="get-link">Get testnet USDC</a>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
